@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --dark: #21252f;
  --body: #888;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
  color: var(--dark);
  font-weight: 700;
}

.navbar .nav-link {
  font-size: 18px;
  font-weight: 700;
}

.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/air-terjun.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

section {
  padding-top: 50px;
  padding-bottom: 120px;
}
